  /* Entire page  */
.categories {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 300;
  background-color: var(--light);
}

/* First element: Selection of category  */

.categories-selection {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-left: -8%;
  z-index: 300;
  position: relative;
}

.hamburger-categories {
  display: inline-block;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  flex-direction: column;
  position: relative;
}

.hamburger-categories h3 {
  color: var(--base);
  font-family: Open Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hamburger-categories img {
  margin-right: 1em;
  margin-bottom: 0.2em;
}

.toggle-option {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.toggle-option h3{


}

.categories-list {
  display: inline-flex;
  
  align-items: flex-start;
  position: relative;
}

.categories-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.categories-list .cyber-monday-title{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff3e9f;
  color:#EFDA00 ;
  padding: 10% 70%;
  overflow: hidden;
  white-space: nowrap;
  font-family: 'Oswald', sans-serif;
  letter-spacing:  2px; 
  text-shadow: 3px 3px 20px #000000,
  -2px 1px 30px #000000;
  animation: cyberMonday 3s ease-in-out infinite alternate;
  border-radius: 15px;
  border: 2px solid #83EEFF;
}

@keyframes cyberMonday{
  0%{
    filter: brightness(1);
  }
  100%{
    filter: brightness(1.3);
  }
}

.categories-titles {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50%;
  width: 100%;
}

.categories-titles a{
  width: 100%;
  margin: 0 10%;

}

.categories-titles h3 {
  width: 100%; 
  font-weight: bold;
}

/* Menu deployed  */

.categories-menu {
  z-index: 2;
}

/* All categories menu  */
.all-categories {
  display: flex;
  position: absolute;
  left: -25%;
  width: 200%;
}

.all-categories .categories-menu {
  max-height: 400px;
  box-shadow: var(--box-shadow-alt);
}

.all-categories .categories-menu h3 {
  cursor: pointer;
  padding: 10px 20px;

}

.all-categories .categories-menu h3:hover {
  background: var(--base);
  color: var(--white);
}

.all-categories .categories-menu,
.all-categories .subcategories {
  background: var(--white);
}

.all-categories .subcategories {
  display: flex;
  flex-wrap: wrap;
  max-height: 500px;
  overflow-y: scroll;
  width: 100%;
  position: relative;
  box-shadow: var(--box-shadow);
}

.all-categories .subcategories .name-mainCategory{
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
  text-shadow: var(--text-shadow);
  position: absolute;
  top: 0;
  background-image: url("https://res.cloudinary.com/droyfngct/image/upload/v1698767188/PPB/Backgrounds/Banner_-_Background_yfgn7e.jpg");
  width: 100%; 
  color: var(--white);
  padding: 10px 20px;
}

.all-categories .subcategories .subcategory {
  margin-top: 2em;
  padding: 20px;
}

.all-categories .subcategories .subcategory p {
  font-size: 12px;
}

/* Categories background */

@keyframes slidingMenu {
  0% {
    transform: translateX(-100px);
  }
  100% {
    transform: translate(0);
  }
}

/* Medium devices (desktops, 992px and up) */

@media (max-width: 1027px) {
  .toggle-title {
    display: none;
  }

  .subcategories-show.active {
    right: -5em;
  }

  .subcategories-show h4 {
  }

  .categories-titles h3 {
    margin-left: 2em;
  }
}

@media (max-width: 768px) {
  .categories {
    display: none;
  }
}
