.popular-categories-section {
  width: 100%;
  background-color: var(--light);
  overflow-x: hidden;
}

.popular-categories-section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 5em;
}

.popular-categories-section .content h3 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  margin-top: 2em;
}

.popular-categories-section .content .categories-circles {
  display: flex;
  justify-content: center;
  width: 100%;
}

.popular-categories-section .content .categories-circles .category-item {
  display: flex;
  margin: 2em 2em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.popular-categories-section .content .categories-circles .category-item img {
  width: 100%;
  margin: 1em;
}


.popular-categories-section .content .categories-circles .category-item h3 {
  margin-top: 1em;
}

@media (max-width: 768px) {
  .popular-categories-section {
    width: 100%;
  }

  .popular-categories-section h3 {
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    margin-top: 2em;
    font-size: 1em;
  }

  .popular-categories-section
    .content
    .categories-circles
    .category-item
    .presentation {
    width: 100px;
    height: 100px;
  }

  .popular-categories-section .content .categories-circles .category-item img {
    max-width: 70px;
  }

  .popular-categories-section .content .categories-circles {
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
  
  .popular-categories-section .content .categories-circles a .category-item {
    margin: 1em 1em;
  }

  .popular-categories-section .content .categories-circles .category-item img {
  
  }
}
